<ion-view ng-controller="detailsController" data-ng-init="imageScaler()" title="{{item.title}}" style="padding-top: 50px;">
   <ion-content class="center">
      <div class="item-picture">
         <img src="{{ item.image }}">
      </div>
      <h1 class="item-title">{{ item.title }}</h1>
      <div>
         <p class="item-detail">{{ item.detail }}</p>
      </div>
   </ion-content>

   <div ng-controller="claimItemController" ng-hide="hideFab">
      <button class="bar bar-footer stevens-primary-header" ng-click="openModal()">
         <h2 class="title">
            <div div class="bar bar-footer stevens-primary-header" style="display:flex;justify-content:center;align-items:center;">Claim Item</div>
         </h2>
      </button>
   </div>
</ion-view>
