<ion-view ng-controller="detailsController" title="{{item.title}}" style="padding-top: 50px;">
   <ion-content class="center">
      <div class="item-picture">
         <img src="{{ item.image }}">
      </div>
      <h2 class="item-title">{{ item.title }}</h2>
      <div>
         <p class="item-detail">{{ item.detail }}</p>
      </div>
   </ion-content>

      <div ng-controller="claimItemController" ng-hide="hideFab">
         <button class="bar bar-footer stevens-primary-header" ng-click="openModal()">
            <h1 class="title">
            <div div class="bar bar-footer stevens-primary-header" style="display:flex;justify-content:center;align-items:center;">Resolve Lost Item</div>
         </h1>
         </button>
      </div>
</ion-view>