<ion-modal-view>
  <form name="addItem" novalidate>
    <ion-header-bar class="bar-positive fix buttons">
      <button class="button" ng-click="closeModal()">Cancel</button>
		  <h1 class="title">Add Item</h1>
		</ion-header-bar>

    <ion-content>
      <div class = "radio">
    	  <ion-radio ng-model="choice">Lost</ion-radio>
      </div>
      <div class = "radio">
        <ion-radio ng-model="choice">Found</ion-radio>
      </div>
      <div class="add">
      	<div class="instructions"> <i class="icon ion-upload"></i> Upload Photo</div>
      </div>
      <label class="item item-input large">
      	<input type="text" name="title" data-ng-model="title" placeholder="Title">
      </label>
      <label class="item item-input large">
        <input type="text" name="description" data-ng-model="description" placeholder="Description">
      </label>
      <label class="item item-input large">
        <input type="date" name="date" data-ng-model="date" >
      </label>
      <label class="item item-input large">
        <input type="text" name="location" data-ng-model="location" placeholder="Location">
      </label>
  	</ion-content>
    
    <button class="bar bar-footer bar-positive" type="submit" data-ng-click="submit(addItem)"  style="display:flex;justify-content:center;align-items:center;">
      <div class="button button-clear" style="text-align: center">Submit</div>
    </button>
  </form>
</ion-modal-view>
