 <ion-modal-view title="Add Item">
    <form name="addItem" novalidate>
      <ion-header-bar class="bar fix-buttons stevens-primary-header">
        <a class="button button-outline button-light button-large" ng-click="closeModal()">Cancel</a>
        <h1 class="title">Add Item</h1>
      </ion-header-bar>
      <ion-content>
        <div class = "button-bar button-small">
            <ion-radio  class="button button-block button-small" ng-model="choice">Lost</ion-radio>
            <ion-radio class="button button-block button-small" ng-model="choice">Found</ion-radio>
        </div>
        <div class = "list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Item Name">
            </label>
        <div style="text-align:center">
          <div><i class="icon ion-upload"></i>
            <div>Tap to upload photo</div>
          </div>
        </div>
            <label class="item item-input">
              <input type="text" placeholder="Location">
            </label>
            <label class="item item-input">
              <input type="date" placeholder="When">
            </label>
            <label class="item item-input text">
              <textarea placeholder="Description" rows="5"></textarea>
            </label>
      <button class = "button button-block" ng-click ="closeModal()">Confirm</button>
      </div>
      </ion-content>
    </form>
  </ion-modal-view>

