/* Empty. Add your own CSS if you like */
.stevens-primary-header {
	background-color: #A32638;
}

.stevens-secondary-header {
	background-color: #9A989A;
}

.white {
	color: white;
}

.title {
	color: white;
}

.modal{
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

/* Floating Action Button*/
.float-button .ion-android-add  {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /*padding: 75px;*/
  font-size: 90px;
  /*background: blue;*/
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 10px; /* Adjust to where you want it */
  z-index: 99999;
  color: white;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 10%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */

}
