/* Empty. Add your own CSS if you like */
.stevens-primary-header {
	background-color: #A32638;
}

.stevens-secondary-header {
	background-color: #9A989A;
}

.white {
	color: white;
}

.title {
	color: white;
}

/* Floating Action Button*/
.float-button .ion-android-add-circle  {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 90px;
  background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
  color: #A32638;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 10%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */

}

ion-radio
{
  display:inline;
}