<ion-view title="Settings">
  <ion-content style="padding-top: 50px;">
      <li class="item item-toggle">
      Push Notifications
         <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
            <div class="handle"></div>
         </div>
         </label>
      </li>
     <li class="item item-toggle">
      Location Based
         <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
            <div class="handle"></div>
         </div>
         </label>
      </li>
     <label class="item item-input item-select">
       <div class="input-label">
         Lightsaber
       </div>
       <select>
         <option>30 min</option>
         <option selected>1 hr</option>
         <option>2 hr</option>
       </select>
      </label>
	<ion-content>
</ion-view>