<!-- Tabs -->
<ion-view ng-controller="homeController" title="Found">
	<ion-content style="padding-top: 50px;">
		<!-- {{ message }}
		ion-list feed -->

		<ion-list>
			<ion-item mc-controller="detailsController" ng-repeat="item in foundItems" href="#/found/{{item.id}}">
				<div>
					<a class="item item-thumbnail-left" href="#/found/{{item.id}}">
						<img src="{{item.image}}">
						<h2>{{item.title}}</h2>
						<p>{{item.detail}}</p>
					</a>
				</div>
      </ion-item>
    </ion-list>
	<ion-content>
</ion-view>
